header {
	position: fixed;
	top: 0;
	left: 0;
	z-index: 100000;
	width: 100%;
	background: #fff;
	border-bottom: 1px solid #eee;
}
header .hd_inner {
	display: flex;
	justify-content: space-between;
	align-items: center;
	width: 1600px;
	margin: 0 auto;
}
h1 a {
	width: 110px;
	height: 55px;
}
.hd_cont {
	display: flex;
	justify-content: space-between;
	align-items: center;
	width: 800px;
}
.hd_cont nav {
	display: flex;
	align-items: center;
	width: 508px;
	height: 90px;
	padding: 15px 0;
}
.hd_cont nav .main_menu_wp {
	display: flex;
	justify-content: space-between;
	width: 100%;
}
.hd_cont nav li {
	width: 100px;
}
.hd_cont a {
	font-size: 18px;
	font-weight: 500;
	color: #222;
	text-align: center;
}
.sub_menu_wp {
	position: fixed;
	top: 90px;
	left: 0;
	opacity: 0;
	transition: 0.3s;
	width: 100%;
	height: 400px;
	background: #fff;
	pointer-events: none;
}
.sub_menu_wp.active {
	opacity: 1;
	pointer-events: auto;
}
.sub_menu_wp .lnb_inner {
	position: absolute;
	top: 34px;
	left: 50%;
	transform: translateX(-50%);
	width: 508px;
	margin-left: 255px;
	display: flex;
	justify-content: space-between;
}
.sub_menu_wp ul {
	display: flex;
	flex-direction: column;
	gap: 16px;
}
.sub_menu_wp ul li {
	width: 100px;
}

/* footer */
footer {
	width: 1640px;
	margin: 0 auto;
	padding: 70px 0;
	display: flex;
	justify-content: space-between;
}
footer h2 {
	width: 112px;
	height: 56px;
}
footer .ft_cont {
	width: 920px;
	display: flex;
	justify-content: space-between;
}
footer .cont_txt {
	width: 740px;
}
footer .terms_wp {
	display: flex;
	gap: 22px;
	margin-bottom: 24px;
}
footer .terms_wp a {
	font-size: 15px;
	font-weight: 700;
	color: #222;
}
footer .ft_info {
	display: flex;
	flex-wrap: wrap;
	gap: 10px 24px;
}
footer .ft_info > div {
	font-size: 14px;
	font-weight: 400;
	color: #444;
}
footer .sns_wp {
	display: flex;
	gap: 10px;
}
footer .sns_wp a {
	width: 31px;
}
