.main_bnr .swiper {
	width: 100%;
	height: 953px;
}
.main_bnr .swiper .cont_img,
.main_bnr .swiper img {
	width: 100%;
	height: 100%;
}
.main_bnr .cont_txt {
	position: absolute;
	top: 340px;
	left: 50%;
	transform: translateX(-50%);
	margin-left: -400px;
}
.main_bnr .cont_txt strong {
	display: block;
	margin-bottom: 42px;
	font-size: 72px;
	color: #111;
}
.main_bnr .cont_txt p {
	font-size: 22px;
	color: #432f2f;
}

.bnr_control {
	width: 270px;
	position: absolute;
	bottom: 200px;
	left: 50%;
	transform: translateX(-50%);
	margin-left: -700px;
	z-index: 100;
}
.bnr_control .btn_wp {
	display: flex;
	justify-content: space-between;
	align-items: center;
	margin-bottom: 30px;
}
.bnr_nav {
	display: flex;
	align-items: center;
	gap: 20px;
}
.bnr_nav button {
	font-size: 20px;
}
.bnr_progress {
	width: 100%;
	height: 2px;
	background: rgba(0, 0, 0, 0.2);
}
.bnr_progress_bar {
	width: 0;
	height: 100%;
	background: #222;
}

@keyframes progress {
	from {
		width: 0%;
	}
	to {
		width: 100%;
	}
}

/* main section 01 */
.main_sec01 {
	padding: 205px 0;
	background: #fbfaf9;
}
.main_sec01 .inner {
	width: 1640px;
	margin: 0 auto;
}
.main_sec01 .sec_tit {
	margin-bottom: 80px;
	text-align: center;
}
.main_sec01 .sec_tit h2 {
	margin-bottom: 24px;
	font-size: 42px;
	font-weight: 600;
	color: #111;
}
.main_sec01 .sec_tit p {
	font-size: 22px;
	color: #222;
}
.main_sec01 .sec01_wp {
	display: flex;
	gap: 20px;
}
.main_sec01 .sec01_item {
	position: relative;
	overflow: hidden;
}
.main_sec01 .sec01_item .cont_img {
	width: 300px;
	height: 600px;
	transition: 0.5s;
}
.main_sec01 .sec01_item.active::after {
	content: "";
	position: absolute;
	top: 0;
	left: 0;
	background: rgba(0, 0, 0, 0.56);
	width: 100%;
	height: 100%;
}
.main_sec01 .sec01_item.active .cont_img {
	width: 996px;
}
.main_sec01 .sec01_item .cont_txt {
	position: absolute;
	top: 273px;
	left: 80px;
	z-index: 1;
}
.main_sec01 .sec01_item.active .cont_txt {
	top: 50%;
	transform: translateY(-50%);
}
.main_sec01 .sec01_item .cont_txt span {
	display: flex;
	width: 54px;
	height: 54px;
	justify-content: center;
	align-items: center;
	margin-bottom: 64px;
	padding: 10px;
	font-size: 30px;
	font-style: italic;
	color: #fff;
	border-radius: 50%;
	border: 1px solid #fff;
}
.main_sec01 .sec01_item .cont_txt .hidden_txt {
	visibility: hidden;
	opacity: 0;
	color: #fff;
	transition:
		opacity 0.5s,
		visibility 0.5s;
	white-space: nowrap;
}
.main_sec01 .sec01_item.active .cont_txt .hidden_txt {
	visibility: visible;
	opacity: 1;
}
.main_sec01 .sec01_item .cont_txt .hidden_txt strong {
	display: block;
	margin-bottom: 24px;
	font-size: 38px;
}
.main_sec01 .sec01_item .cont_txt .hidden_txt .sub_tit {
	font-size: 18px;
}
.main_sec01 .sec01_item .cont_txt .hidden_txt a {
	display: block;
	margin-top: 80px;
	font-size: 14px;
	font-weight: 500;
}

/* main section 02 */

.main_sec02 {
	padding: 200px 0;
}
.main_sec02 .item_wp {
	display: flex;
	flex-direction: column;
	gap: 200px;
}
.main_sec02 li {
	display: flex;
	justify-content: space-between;
	align-items: center;
}
.main_sec02 li.reverse {
	flex-direction: row-reverse;
}
.main_sec02 li:first-of-type {
	width: 1780px;
	margin-left: 125px;
}
.main_sec02 li:first-of-type .cont_img {
	width: 1227px;
	height: 780px;
}
.main_sec02 li:nth-of-type(2) {
	width: 1264px;
	margin-left: 278px;
}
.main_sec02 li:nth-of-type(2) .cont_img {
	width: 672px;
	height: 850px;
}
.main_sec02 li:last-of-type {
	width: 1500px;
	margin-left: 278px;
}
.main_sec02 li:last-of-type .cont_img {
	width: 948px;
	height: 650px;
}
.main_sec02 li .cont_txt {
	color: #222;
	font-weight: 500;
}
.main_sec02 li span {
	display: block;
	margin-bottom: 45px;
	font-size: 24px;
}
.main_sec02 li .cont_tit {
	font-size: 42px;
	font-weight: 600;
}
.main_sec02 li a {
	display: inline-block;
	margin-top: 120px;
	font-size: 14px;
}

/* main section 03 */
.main_sec03 {
	display: flex;
	width: 100%;
	height: 528px;
}
.main_sec03 .tit_wp,
.main_sec03 .cont_txt {
	width: 50%;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}
.main_sec03 .tit_wp li {
	font-size: 38px;
	font-weight: 500;
	color: rgba(255, 255, 255, 0.6);
	cursor: pointer;
}
.main_sec03 .tit_wp li.active {
	font-size: 72px;
	color: #fff;
}
.main_sec03 .cont_txt {
	position: relative;
	color: #fff;
	z-index: 1;
}
.main_sec03 .cont_txt::after {
	content: "";
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background: rgba(0, 0, 0, 0.4);
	z-index: -1;
}
.main_sec03 .cont_sub_tit {
	margin-bottom: 24px;
	font-size: 28px;
	font-weight: 500;
}
.main_sec03 p {
	margin-bottom: 64px;
	font-size: 20px;
	font-weight: 400;
	text-align: center;
}
.main_sec03 a {
	font-size: 20px;
	font-weight: 500;
}
.main_sec03 .txt_01 {
	width: 450px;
}
.main_sec03 .txt_02 {
	width: 425px;
}
.main_sec03 .txt_03 {
	width: 535px;
}
